---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Inicio">
  <main class="min-h-screen flex items-center justify-center">
    <p class="text-2xl font-semibold">Nexo Edu 🚀</p>
  </main>
</BaseLayout>
